* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
  display: block;
  background-color: #1e1e1e;
  font-family: "Inria Sans", sans-serif;
}

header {
  padding: 16px 0;
}

nav {
  padding: 12px 0;
}

nav ul {
  padding: 8px;
  gap: 8px;
  list-style: none;
  text-decoration: none;
}

nav ul a {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.pageSize {
  margin: auto;
  height: 100%;
  padding: 0 14px;
  max-width: 750px;
  background-color: #060126;
}

.flex {
  display: flex;
  flex: 1;
}
.flexRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.itemsCenter {
  justify-content: center;
  align-items: center;
}

.weekHeader {
  padding: 12px 8px;
  background-color: #0b0340;
  border-radius: 12px;
}

.lesonList {
  margin: 12px 0;
  list-style: none;
  text-decoration: none;
}

.lesonList span {
  width: 36px;
  height: 36px;
  font-size: 1rem;
  color: #060126;
  font-weight: 700;
  margin-right: 12px;
  border-radius: 8px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: white;
}

.lesonList a {
  width: 100%;
  color: white;
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.3rem;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  justify-content: space-between;
}

.lesonList li:hover {
  background-color: #0b034055;
}
